{% extends 'registration/base.html' %}

{% block content %}
<div class="card-body login-card-body">
  <p class="login-box-msg" style="font-weight: bold;">Forgot Password</p>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        <input type="text" id="{{ field.id_for_label }}" class="form-control" name="{{ field.html_name }}" required>
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-block btn-success">Submit</button>
  </form>
  
  <!-- Add a link back to login page -->
  <p class="mt-3 mb-1 text-center">
    <a href="{% url 'show_login' %}">Back to login</a>
  </p>
</div>

<style>
  .mt-3{
    color: #ffff;
  }
  .mt-3:hover{
    background-color: linear-gradient(to right, #f8f9fa, #e9ecef) !important;
    font-weight: bold;
    color: #ffff;
  }
</style>

{% endblock content %}