{% extends 'hod_template/base_template.html' %}
{% load static %}

{% block page_title %}
Edit Semester
{% endblock page_title %}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Semester</h3>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Faculty</label>
                                <select class="form-control" name="faculty" required>
                                    {% for faculty in faculties %}
                                    <option value="{{ faculty.id }}" {% if faculty.id == semester.faculty.id %}selected{% endif %}>{{ faculty.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Semester Name</label>
                                <input type="text" class="form-control" name="name" value="{{ semester.name }}" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="date" class="form-control" name="start_date" value="{{ semester.start_date|date:'Y-m-d' }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="date" class="form-control" name="end_date" value="{{ semester.end_date|date:'Y-m-d' }}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="is_active" {% if semester.is_active %}checked{% endif %}> Active Semester
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update Semester</button>
                            <a href="{% url 'manage_semester' %}" class="btn btn-default float-right">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main_content %}